/*#region common rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #endregion common rules */

/* #region utility */
.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 1rem;
}

.row_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row_prefooter {

}

.row_footer {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

img {
    max-width: 100%;
}
/* #endregion utility */

/* #region colonne */
.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}
/* #endregion colonne */

/* #region impostazioni tag */
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #255EE9;
}

section {
    padding: 100px;
}

/* #endregion tags settings */

/* #region jumbo */
.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 380px;
}

#jumbo_main {
    display:flex;
}

.jumbo_txt {
    text-align: center;
    padding: 10% 10% 2%;
}

.jumbo_button {
    text-align: center;
}
/* #endregion jumbo */

/* #region impostazioni sezioni */
#grey_sec {
    background-color: #F6F6F6;
}

#keep_in_touch {
    background-color: #F6F6F6;
    text-align: center;
}

.kit_foot {
    padding-bottom: 50px;
}

.info_section {
    background-color: #23272A;
    padding: 0px;
    color: white;
}
/* #endregion impostazioni sezioni */

/* #region bottoni */
#login_1 {
    border: 0;
    border-radius: 1rem;
    padding: 5px;
    font-size: 8px;
}

#mac_2 {

}

.flag {
    width: 24px;
    height: 16px;
    margin-right: 8px;
    margin-top: 10px;
}
.aqua {
    background-color: #7FFFD4;
}

a {
    color: #F6F6F6;
    text-decoration: none;
    font-size: 10px;
}

.link_nav {
    display: flex;
    justify-content: space-between;
}

.info_title {
    color: #7289DA;
    padding-top: 30%;
}

.info_content {
    padding-top: 10px;
    padding-bottom: 10px;
}